@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Audiowide&family=Cairo:wght@200..1000&family=Playwrite+CA:wght@100..400&display=swap");
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-cairo: "Cairo", sans-serif;

  --animate-shine: shine 1.5s infinite linear;

  @keyframes shine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-cairo);
    /* @apply antialiased selection:bg-black selection:text-white dark:selection:bg-white dark:selection:text-black; */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-cairo);
  }
}

button:active,
a:active {
  transform: scale(0.95);
}
