    <header>
      <div class="container">
        <div><a class="logo" href="./index.html">Next</a></div>

        <div class="search">
          <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <input type="text" placeholder="Search..." />
        </div>

        <button class="hamburger-menu" aria-label="فتح/إغلاق القائمة" >
          <i class="fas fa-bars"></i>
        </button>

        <nav class="nav">
          <ul>
            <li><a class="active" href="./index.html">الرئيسية</a></li>
            <li><a href="./products.html">تيشرتات</a></li>
            <li><a href="#footer">اتصل بنا</a></li>
            <li><a href="./about.html">من نحن</a></li>
          </ul>
        </nav>

        <div class="icons">
          <a href="./products.html"><i class="fa-regular fa-heart"></i> </a>
          <a href="./cart.html" class="cart-icon">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
          <a href="#"><i class="fa-regular fa-user"></i></a>
        </div>
      </div>

      <div class="mobile-menu">
        <div class="mobile-search-container">
          <div class="mobile-search">
            <input
              type="text"
              placeholder="Search..."
              class="mobile-search-input"
            />
            <button class="mobile-search-btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </div>

        <nav class="mobile-nav">
      <ul>
        <li><a class="mobile-nav-link" href="./index.html">الرئيسية</a></li>
        <li><a class="mobile-nav-link" href="./products.html">تيشرتات</a></li>
        <li><a class="mobile-nav-link mobile-nav-link-cart" href="./cart.html">سلة التسوق</a></li>
        <li><a class="mobile-nav-link" href="#">الحساب</a></li>
        <li><a class="mobile-nav-link" href="./about.html">من نحن</a></li>
        <li><a class="mobile-nav-link" href="#conactUs">اتصل بنا</a></li>
      </ul>
    </nav>
      </div>
    </header>