<header class="site-header">
  <div class="container header-inner">
    <!-- Logo -->
    <a href="./index.html" class="logo">
      <!-- NEXT<span class="logo-accent">Store</span> -->
       <img src="./assets/icons/Next.svg" alt="">
    </a>

    <!-- Desktop Search -->
    <div class="search">
      <input id="search-input" type="text" placeholder="ابحث عن منتجات..." />
      <button class="search-btn" id="search-btn">
        <i class="fas fa-magnifying-glass"></i>
      </button>
    </div>

    <!-- Navigation -->
    <nav class="main-nav">
      <ul>
        <li><a href="#">من نحن</a></li>
        <li><a href="#">العروض</a></li>
        <li><a href="./products.html">المنتجات</a></li>
        <li><a href="./index.html" class="active">الرئيسية</a></li>
      </ul>
    </nav>

    <!-- Icons -->
    <div class="header-icons">
      <!-- Hamburger (mobile) -->
      <button class="hamburger">
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
      </button>

      <a href="./cart.html" class="icon-btn">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-badge">1</span>
      </a>
      <a href="#" class="icon-btn"><i class="fas fa-user"></i></a>
    </div>
  </div>

  <!-- Mobile Drawer -->
  <div class="mobile-drawer">
    <div class="mobile-drawer-inner">
      <!-- Mobile Search -->

      <div class="search-box">
        <input id="search-input" type="text" placeholder="ابحث عن منتجات..." />
        <button id="search-btn"><i class="fas fa-magnifying-glass"></i></button>
      </div>

      <!-- Mobile Navigation -->
      <nav class="mobile-nav">
        <ul>
          <li><a class="active" href="./index.html">الرئيسية</a></li>
          <li><a href="./products.html">المنتجات</a></li>
          <li><a href="#">العروض</a></li>
          <li><a href="#">اتصل بنا</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
